.dm-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    background-color: #fff;
}

.dm-screen.hide {
    display: none;
}

.dm-spinner {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.dm-spinner span {
    display: block;
    transform-origin: 32px 32px;
    animation: spin 1.2s linear infinite;
}

.dm-spinner span:after {
    border-radius: 20%;
    background-color: #000;
    content: " ";
    display: block;
    height: 14px;
    width: 5px;
    position: absolute;
    left: 30px;
    top: 5px;
}

.dm-spinner span:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.dm-spinner span:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.dm-spinner span:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.dm-spinner span:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.dm-spinner span:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.dm-spinner span:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.dm-spinner span:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.dm-spinner span:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.dm-spinner span:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.dm-spinner span:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.dm-spinner span:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.dm-spinner span:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes spin {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}